@{
    ViewData["Title"] = "Resume Site";
}

    <body id="page-top">
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Abdulrazzak
                        <span class="text-primary">Isiklar</span>
                    </h1>
                    <div class="subheading mb-5">
                        Gürselpasa Mah. Seyhan/Adana (123) 456-7891·
                        <a href="mailto:batuhanisiklar0@gmail.com">batuhanisiklar0@gmail.com</a>
                    </div>
                <p class="lead mb-5">
                    I am passionate about technology and software development, always eager to learn and improve myself. I strive to gain experience in various programming languages and software technologies to develop sustainable and scalable solutions.
                    With strong problem-solving skills, adaptability, and a collaborative mindset, I can work efficiently in dynamic environments. I quickly adapt to new technologies and focus on continuous self-improvement. My goal is to gain hands-on experience through an internship at a corporate company and become part of a professional team.
                </p>
                    <div class="social-icons">
                        <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/batuhanisiklar/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" target="_blank" href="https://github.com/batuhanisiklar"><i class="fab fa-github"></i></a>
                        <a class="social-icon" target="_blank" href="https://x.com/bthnsklr0"><i class="fa-brands fa-twitter"></i></a>
                        <a class="social-icon" target="_blank" href="https://www.instagram.com/bthnsklr/?hl=tr"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Konya Technical Universty</h3>
                            <div class="subheading mb-3">Computer Engineering</div>
                        <div>Faculty of engineering and natural sciences</div>
                            <p>GPA: 3.24</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">September 2023 - May 2026</span></div>
                    </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Inönü Universty</h3>
                        <div class="subheading mb-3">Computer Engineering</div>
                        <div>Faculty of engineering</div>
                        <p>GPA: 3.31</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">September 2021 - May 2023</span></div>
                </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Adana Gündogdu College</h3>
                            <div class="subheading mb-3">Anatolian High School</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">September 2017 - May 2021</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                <div style="display: flex; flex-direction: column; gap: 30px;">

                    <!-- Programming Languages -->
                    <div>
                        <h3>Programming Languages</h3>
                        <img src="https://skillicons.dev/icons?i=go,python,bash,cs,java" alt="Programming Languages" />
                    </div>

                    <!-- Backend Frameworks & Runtimes -->
                    <div>
                        <h3>Backend Frameworks & Runtimes</h3>
                        <img src="https://skillicons.dev/icons?i=flask,dotnet" alt="Backend Frameworks" />
                    </div>

                    <!-- Databases -->
                    <div>
                        <h3>Databases</h3>
                        <img src="https://skillicons.dev/icons?i=mysql,postgresql" alt="Databases" />
                    </div>

                    <!-- Other Tools -->
                    <div>
                        <h3>Other</h3>
                        <img src="https://skillicons.dev/icons?i=git,aws,docker,cloudflare,kafka,postman,kubernetes,powershell" alt="Other Tools" />
                    </div>

                    <div>
                        <h3>Workflow</h3>
                        <ul class="fa-ul mb-0">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Containerized Deployment with Docker & Kubernetes
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                CI/CD Pipelines with Jenkins & GitHub Actions
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                RESTful API Design & Microservice Architecture
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Agile Development & Team Collaboration
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Scalable Cloud Solutions with AWS
                            </li>
                        </ul>
                    </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                <p>I enjoy traveling and discovering new cultures—it’s one of the best ways to gain fresh perspectives and inspiration. I’m also into playing video games, which helps me relax and sometimes even sparks creative ideas. I like contributing to open-source projects whenever I can, as it’s a great way to learn and give back to the developer community. In my downtime, you’ll often find me watching movies, especially those that tell unique stories or offer a different point of view.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
        <section class="resume-section" id="certifications">
                <div class="resume-section-content">
                    <h2 class="mb-5">Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Python for Data Science, AI & Development - IBM Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Git and GitHub Essentials - IBM Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Introduction to Agile Development and Scrum (with Honors) - IBM Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Hands-on Introduction to Linux Commands and Shell Scripting - IBM Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Introduction to Cloud Computing - IBM Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Introduction to DevOps - IBM Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Programming for Everybody (Getting Started with Python) - University of Michigan Certification
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </body>